#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config ARA_USB_HOST
	bool "Ara USB Host validation app"
	default n
	depends on ARCH_CHIP_TSB
	depends on ARCH_CHIP_USB_HCD

if ARA_UNIPRO_MAIN

config ARA_USB_HOST_PROGNAME
	string "Program name"
	default "usb_host"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

endif
